Web orria/xml/berriak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="berriak">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="berria" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="irudia" type="xs:string"></xs:element>
                            <xs:element name="esteka" type="xs:string"></xs:element>
                            <xs:element name="deskribapena" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>