Web orria/xml/federazioa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="Federazioa">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="TaldeGuztiak">
                    <xs:complexType> <xs:sequence>
                            <xs:element name="Talde" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Izena" type="xs:string" />
                                        <xs:element name="Hiria" type="xs:string" />
                                        <xs:element name="Jokalariak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Jokalari" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Izena" type="xs:string" />
                                                                <xs:element name="Abizena" type="xs:string" />
                                                                <xs:element name="Posizioa" type="xs:string" />
                                                            </xs:sequence>
                                                            <xs:attribute name="dortsala" type="xs:integer" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                                </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Denboraldiak">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Denboraldia" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        
                                        <xs:element name="DenboraldikoTaldeak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Talde" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Izena" type="xs:string" />
                                                                <xs:element name="Hiria" type="xs:string" />
                                                                <xs:element name="Jokalariak">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Jokalari" minOccurs="0" maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="Izena" type="xs:string" />
                                                                                        <xs:element name="Abizena" type="xs:string" />
                                                                                        <xs:element name="Posizioa" type="xs:string" />
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="dortsala" type="xs:integer" use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                        </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="Sailkapena">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Lerroa" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Posizioa" type="xs:integer" />
                                                                <xs:element name="Taldea" type="xs:string" />
                                                                <xs:element name="Puntuak" type="xs:integer" />
                                                                <xs:element name="Jokatuak" type="xs:integer" />
                                                                <xs:element name="Irabaziak" type="xs:integer" />
                                                                <xs:element name="Berdinduak" type="xs:integer" />
                                                                <xs:element name="Galduak" type="xs:integer" />
                                                                <xs:element name="AldekoGolak" type="xs:integer" />
                                                                <xs:element name="AurkakoGolak" type="xs:integer" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="Jardunaldiak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Jardunaldi" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Partidua" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="EtxekoTaldea" type="xs:string" />
                                                                            <xs:element name="KanpokoTaldea" type="xs:string" />
                                                                            <xs:element name="Emaitza" minOccurs="0">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="etxekoGolak" type="xs:integer" use="required" />
                                                                                    <xs:attribute name="kanpokoGolak" type="xs:integer" use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="egoera" type="xs:string" use="optional" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="zenbakia" type="xs:integer" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                    <xs:attribute name="urtea" type="xs:integer" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>