Web orria/xml/taldeak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="taldeak">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="taldea" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="izena" type="xs:string"></xs:element>
                            <xs:element name="irudia" type="xs:string"></xs:element>
                            <xs:element name="deskribapena" type="xs:string"></xs:element>
                            <xs:element name="plantilla" type="xs:string"></xs:element>
                            <xs:element name="audioa">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="mp3" type="xs:string"></xs:element>
                                        <xs:element name="ogg" type="xs:string"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>