Web orria/xml/xml zaharrak/sailkapena.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="denboraldiak">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="denboraldi" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="izena" type="xs:string"></xs:element>
                            <xs:element name="talde" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="izena" type="xs:string"></xs:element>
                                        <xs:element name="irudia" type="xs:string"></xs:element>
                                        <xs:element name="ligako_puntuak" type="xs:integer"></xs:element>
                                        <xs:element name="aldeko_golak" type="xs:integer"></xs:element>
                                        <xs:element name="kontrako_golak" type="xs:integer"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>